@font-face {
  font-family: 'Gheist';
  src: url('/font/Geist-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gheist', sans-serif;
  color: #fff;
  line-height: 1.75;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121212;
  overflow: auto;
}

h5 {
  font-size: 24px;
  font-weight: 400;
}

.mb-24 {
  margin-bottom: 24px;
}
.mb-32 {
  margin-bottom: 32px;
}

.mb-48 {
  margin-bottom: 48px;
}

/* HEADER */
header {
  width: 100%;
  max-width: 820px;
  display: flex;
  justify-content: center;
  padding: 24px;
}

nav {
  width: 100%;
}

.navbar-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.navbar-menu li a {
  text-decoration: none;
  color: #fff;
  margin-right: 24px;
}

.navbar-menu li a:hover {
  text-decoration: none;
  color: #a3a3a3;
  transition: 0.5s;
}

/* MAIN */
main {
  width: 100%;
  max-width: 820px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 24px 24px 24px;
}

/* HERO SECTION */
.hero {
  display: flex;
  width: 100%;
  margin-bottom: 48px;
}

.hero img {
  width: 100%;
}

/* ABOUT ME */
.about-me {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.waving-hand {
  margin-left: 4px;
  margin-bottom: -4px;
}

.collage-container {
  column-count: 3;
}

.collage-image {
  width: 100%;
  object-fit: none;
  border-radius: 8px;
}

.collage-1,
.collage-3,
.collage-5 {
  margin-bottom: 10px;
}

.collage-6A,
.collage-3A {
  display: none;
}

.about-me-link {
  text-decoration: none;
  color: #51b2ed;
  background: linear-gradient(to right, #51b2ed, #51b2ed);
  background-size: 0 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.about-me-link:hover {
  background-size: 100% 2px;
}

/* PROJECTS */
.projects {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.projects-container {
  column-count: 2;
}

.projects-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.projects-item p {
  margin-top: 8px;
}

.projects-item img {
  cursor: pointer;
}

.rocket-icon {
  margin-bottom: -4px;
}

/* SKILSS */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.skilss {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.skills-img-container {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.skills-img-slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: 30s slide infinite linear;
}

.skills-img-slider img {
  margin: 0 12px;
}

/* CONTACT ME*/
.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.contact p {
  text-align: center;
}

.social-media-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 24px;
}

.social-media-container-center {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-bottom: 24px;
}

.social-media-item {
  width: 48.5%;
  background-color: #282828;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.social-media-item:hover {
  box-shadow: 0 0 10px #51b2ed;
  border: 1px solid #51b2ed;
  background-color: #121212;
  transition: 0.5s;
}

.sparkles-icon {
  margin-left: 4px;
}

.plant-image {
  margin-bottom: -5px;
}

/* FOOTER */
.footer {
  display: flex;
  padding: 32px 24px 0px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid white;
  width: 100%;
  margin-top: 48px;
}

.footer-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-icon-container a img {
  margin-right: 24px;
}
.footer-icon-container a img:hover {
  filter: drop-shadow(0px 0px 6px #51b2ed);
  transition: 0.5s;
}

.love-icon {
  margin-bottom: -5px;
}

.copyright-text {
  margin-top: 24px;
}

/* MOBILE RESPONSIVE */
@media only screen and (max-width: 640px) {
  main {
    overflow-x: hidden;
  }

  .navbar-menu li a {
    margin-right: 12px;
  }

  .hero img {
    height: 220px;
    object-fit: cover;
  }

  .collage-container {
    column-count: 2;
  }

  .collage-image {
    object-fit: cover;
  }

  .collage-1,
  .collage-2,
  .collage-4,
  .collage-5 {
    margin-bottom: 8px;
  }

  .collage-6,
  .collage-3 {
    display: none;
  }
  .collage-6A,
  .collage-3A {
    display: inline;
  }

  .projects-container {
    column-count: unset;
  }

  .projects-item {
    margin-bottom: 24px;
  }

  .social-media-container {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .social-media-container-center {
    margin-bottom: 0px;
  }

  .social-media-item {
    width: 100%;
    margin-bottom: 24px;
  }

  .footer-icon-container a img {
    margin-right: 20px;
  }
}
