* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Poppins", sans-serif;
}

body {
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: #121212;
}

/* HEADER */
header {
 width: 100%;
 max-width: 820px;
 display: flex;
 justify-content: center;
 padding: 24px;
}

nav {
 width: 100%;
}

.navbar-menu {
 list-style: none;
 display: flex;
 gap: 24px;
}

.navbar-menu li a {
 text-decoration: none;
 color: #fff;
}

/* MAIN */
main {
 width: 100%;
 max-width: 820px;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 0px 24px 24px 24px;
 gap: 32px;
}

/* HERO SECTION */
.hero {
 display: flex;
 width: 100%;
}

.hero img {
 width: 100%;
}

/* MOBILE RESPONSIVE */
@media only screen and (max-width: 640px) {
 .navbar-menu {
   gap: 8px;
 }
}